.game-board {
  background: #dcc9aa;
  position: relative;
  width: 100vw;
  height: 100vh;
  .status {
    margin-bottom: 10px;
    display: inline-block;
    margin-left: 15px;
    background-color: #deb36d;
    font-size: 18px;
    padding: 10px;
  }

  .reset {
    cursor: pointer;
    border: solid 1px #8d7245;
    width: 100px;
    border-radius: 5px;
    background-color: #deb36d;
    margin: 0 auto;
  }

  .board {
    height: 630px;
    width: 630px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .board_block {
      .block {
        box-sizing: border-box;
        float: left;
        font-size: 24px;
        font-weight: bold;
        line-height: 34px;
        height: 34px;
        margin-right: -1px;
        margin-top: -1px;
        padding: 0;
        text-align: center;
        width: 34px;
      }
    }

  }
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
  background-color: transparent;
}

.square:focus {
  outline: none;
}

.black {
  border: 1px solid #000;
  border-radius: 50%;
  background-color: #000;
  width: 15px;
  height: 15px;

}

.white {
  border: 1px solid #000;
  border-radius: 50%;
  background-color: #fff;
  width: 15px;
  height: 15px;

}
